<h3>Experiment 1</h3>
Q1 Print the following :<br>
           ‘ Brian’s mother : He’s not the messiah.<br>
             He’s a very naughty boy ! ’<br>

Q3 Take two variable a and b. Assign your first name and last name. Print your Name after adding your First name and Last name together.<br>
Q4 Give yourself a nickname :<br>
     Declare three variables, consisting of your first name, your last name and Nickname. Write a  Program that prints out your first name, then your nickname in parenthesis and then your last name. 
Example output : George ( woody ) Washington.<br>
Q5) Print your name three times like<br>
           GeorgeGeorgeGeorge<br>
Q6) Print your name three times like<br>
            George       George        George<br>
Q7) Declare and assign values to the variables first name, last name, address, DOB, Programme, <br>semester, SAP ID and print in the following way :<br>
NAME : NIKUNJ BANSAL       <br>                                                                          SAP ID : 500069944<br>
DATE OF BIRTH : 13 Oct 1999<br>
ADDRESS : UPES<br>
                    Bidholi Campus<br>
                    Pincode : 248007<br>
Programme : AI & ML<br>                                                                                     Semester : 1<br>

In [4]:
#ques1:
print('Brian’s mother : He’s not the messiah. \nHe’s a very naughty boy !')

Brian’s mother : He’s not the messiah.
He’s a very naughty boy !

In [6]:
a="Adarsh "
b="kandwal"
print(a+b)

Adarsh kandwal

In [7]:
name="Adarsh"
nick_name="Adi"
last_name="Kandwal"
print(name+" ("+nick_name+") "+last_name)

Adarsh (Adi) Kandwal

In [13]:
sumx=""
for i in range(3):
    sumx=sumx+name
print(sumx)

AdarshAdarshAdarsh

In [14]:
sumx=""
for i in range(3):
    sumx=sumx+" "+name
print(sumx)

 Adarsh Adarsh Adarsh

In [ ]:
 NAME : NIKUNJ BANSAL                                                                                 SAP ID : 500069944
DATE OF BIRTH : 13 Oct 1999
ADDRESS : UPES
                    Bidholi Campus
                    Pincode : 248007
Programme : AI & ML                                                                                      Semester : 1

In [17]:
first_name="adarsh"
last_name="kandwal"
address="v/po bahuwala premnagar dehradun"
DOB="18-07-2001"
programme="btech cse bao"
sem=5
sap=500068043
print("NAME : {} {}\t\t SapiD :{}".format(first_name,last_name,sap))
print("DATE OF BIRTH :{}".format(DOB))
print("ADDRESS :{}".format(address))
print("Programme {}\t\t{}".format(programme,sem))

NAME : adarsh kandwal		 SapiD :500068043
DATE OF BIRTH :18-07-2001
ADDRESS :v/po bahuwala premnagar dehradun
Programme btech cse bao		5

<h3> Experiment 3 </h3>
11 .Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform addition, multiplication, division and subtraction on these two variables and Print out the result.<br>
12.Write a Program where the radius of a circle is 12 units. Compute the area of a circle.<br>
13.Write a Python program to solve (x+y)*(x+y)<br>
    Test data : x = 4 , y = 3<br>
    Expected output : (4+3)^2 = 49<br>

14.Write a program to compute the length of the hypotenuse (c) of a right triangle having sides a = 133 , b = 72 units. Hint : remember the Pythagoras theorem.<br>
15.Write a program to find simple interest.<br>
16.Write a program to find volume of cone.<br>
17.Write a program to find area of triangle when length of sides are given.<br>
18.Write a program to convert given seconds into hours, minutes and remaining seconds.<br>
19.Write a program to convert given inches to feet and inches format.<br>
20.Write a program to swap two numbers without taking additional variable.<br>
21.Write a program to find sum of first n natural numbers.<br>

In [25]:
x=9
y=7
z=x+y
print("sum is {}".format(z))
x=9
y=7
z=x-y
print("sub is {}".format(z))
x=9
y=7
z=x*y
print("mul is {}".format(z))
x=9
y=7
z=x/y
print("div is {}".format(z))

sum is 16
sub is 2
mul is 63
div is 1.2857142857142858

In [30]:
#Write a Program where the radius of a circle is 12 units. Compute the area of a circle
import math
radius=12
area=math.pi*radius*radius
print("the area is {}".format(area))

the area is 452.3893421169302

In [33]:
#    Write a Python program to solve (x+y)*(x+y) test data : x = 4 , y = 3 

x=int(input("value of x"))
y=int(input("value of y"))
res=(x+y)**2
print(res)

value of x4
value of y3
49

In [36]:
#Write a program to compute the length of the hypotenuse (c) of a right triangle having sides a = 133 , b = 72 units. Hint : remember the Pythagoras theorem.
p=int(input("value of p"))
b=int(input("value of b"))
res=math.sqrt(p**2+b**2)
print("hypotenuse :{}".format(res))

value of p133
value of b72
hypotenuse :151.23822268196622

In [37]:
#Write a program to find simple interest.
#A = P (1 + rt)
p=int(input("principl amount"))
r=int(input("rate per day"))
t=int(input("time int days"))
a=p*(1+r*t)
print(a)

principl amount10
rate2
time1
30

In [38]:
#Write a program to find volume of cone.
#V=πr2h/3
r=int(input("radius"))
h=int(input("height"))
v=(math.pi*(r**2)*h)/3
print(v)

radius10
height20
2094.3951023931954

In [40]:
r=int(input("base"))
h=int(input("height"))
area=(r*h)/2
print(area)

base3
height4
6.0

In [45]:
#Write a program to swap two numbers without taking additional variable.
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a)
print(b)

20
10

In [47]:
#Write a program to find sum of first n natural numbers.
n=int(input("enter the value of n"))
sum=0
for i in range(n):
    sum=sum+i
print(sum)

enter the value of n5
10

<h3>Practical 3</h3><br>
1.Check whether given number is divisible by 3 and 5 both.<br>
2.Check whether a given number is multiple of five or not.<br>
3.Write a Python program to display sum of two given integers. If the sum is between 10 and 20   than display 15.<br>
4.Find the greatest among two numbers. If numbers are equal than print “numbers are equal”.<br>
5.Check whether voter is eligible for voting or not (eligible age >=18)<br>
6.Find the greatest among three numbers assuming no two values are same.<br>
7.Check whether the quadratic equation has real roots or imaginary roots. Display the roots.<br>
8.Find whether a given year is a leap year or not.<br>
9.Write a program which takes any date as input and display next date of the calendar
e.g.<br>
I/P: day=20 month=9 year=2005<br>
O/P: day=21 month=9 year 2005<br>
10.Print the grade sheet of a student for the given range of cgpa. Scan marks of five subjects <br>and calculate the percentage.<br>
CGPA=percentage/10<br>
CGPA range:<br>
0 to 3.4 -> F<br>
3.5 to 5.0->C+<br>
5.1 to 6->B<br>
6.1 to 7-> B+<br>
7.1 to 8-> A<br>
8.1 to 9->A+<br>
9.1 to 10-> O (Outstanding)<br>

In [7]:
#Check whether given number is divisible by 3 and 5 both.
a=int(input("enter the number"))
if(a%3==0 and a%5==0):
    print("divisible by both 3 and 5")
else:
    print("not divisible")

enter the number5
not divisible

In [10]:
#Check whether a given number is multiple of five or not.
a=int(input("enter the number"))
if(a%5==0):
    print("multiple of 5")
else:
    print("not a multiple")

enter the number43
not a multiple

In [12]:
#Write a Python program to display sum of two given integers. If the sum is between 10 and 20 than display 15.
a=int(input("enter the number A :"))
b=int(input("enter the number B :"))
sumx=a+b
if(sumx>=10 and sumx<=20):
    print("15")

enter the number A :10
enter the number B :2
15

In [16]:
#Find the greatest among two numbers. If numbers are equal than print “numbers are equal”.
a=int(input("enter the number A :"))
b=int(input("enter the number B :"))

if(a>b):
    print(a)
elif(b>a):
    print(b)
else:
    print("numbers are equal")

enter the number A :10
enter the number B :10
numbers are equal

In [17]:
#Check whether voter is eligible for voting or not (eligible age >=18)
a=int(input("enter the number A :"))

if(a<18):
    print("not eligible vote")
else:
    print("eligible to vote")

enter the number A :18
eligible to vote

In [19]:
#Find the greatest among three numbers assuming no two values are same.
a=int(input("enter the number A :"))
b=int(input("enter the number B :"))
c=int(input("enter the number C :"))

if a>b and a>c:
    print(a)
elif b>c and b>a:
    print(b)
else:
    print("the greatest is  {}".format(c))

enter the number A :10
enter the number B :20
enter the number C :30
the greatest is  30

In [21]:
a=int(input("enter the number A :"))
b=int(input("enter the number B :"))
c=int(input("enter the number C :"))

dis=b**2 - 4*a*c

if dis>0:
    root1=(((-b) + sqrt(dis))/(2*a))
    root2=(((-b) - sqrt(dis))/(2*a))
    print("two roots are {} {}".format(root1,root2))
elif dis==0:
    root1 = (-b) / 2*a
    print("there is one root: ",x)
else:
    print("no root")

enter the number A :10
enter the number B :20
enter the number C :30
no root

In [80]:
day=int(input("enter the day"))
month=int(input("enter the month"))
year=int(input("enter the year"))
flag=0

month31=[1,3,5,7,8,10,12]
month30=[4,6,9]

def leap_year(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return 1
            else:
                return 0
        else:
            return 1
    else:
        return 0

if month==2:
    if leap_year(year)==1 and day==29:
        month=month+1
        day=1
        flag=1
    elif leap_year(year)==0 and day == 28:
        day=1
        month=1
        flag=1
        print("leap year")
    elif leap_year(year)==0 and day<28:
        day=day+1
        month=month+1
        flag=1
    
if(flag==0):
    for i in month31:
        if i==month:
            if day==31 and month!=12:
                day=1
                month=month+1
            elif day==31 and  month==12:
                day=1
                month=1
                year=year+1
            else:
                day=day+1

    for i in month30:
        if i==month:
            if day==30:
                day=1
                month=month+1
            else:
                day=day+1
                
print("day {} month {} year {}".format(day,month,year))

enter the day29
enter the month2
enter the year2024
day 1 month 3 year 2024

<h3>Practical No 4</h3>
 
Q1) Find a factorial of given number.<br>
Q2) Find whether the given number is Armstrong number.<br>
Q3) Print Fibonacci series up to given term.<br>
Q4) Write a program to find prime number.<br>
Q5) Check whether given number is palindrome or not.<br>
Q6) Write a program to print sum of digits.<br>
Q7) Count and print all numbers divisible by 5 or 7 between 1 to 100.<br>
Q8) Convert all lower case to upper in a string.<br>
Q9) Print prime numbers between 1 and 100.<br>
Q10) Print the table for a given number:<br>
5 * 1 = 5<br>
5 * 2 = 10……….. <br>

In [4]:
#factorial of given number.
n=int(input("enter the number"))
fact=n
while n>1:
    fact=fact*(n-1)
    n=n-1
print(fact)

enter the number5
120

In [17]:
#amgstrom
n=int(input("enter the number"))
og=n
amgstrom=0
while(n>0):
    rem=int(n%10)
    amgstrom=int(amgstrom+rem*rem*rem)
    n=int(n/10)
if amgstrom==og:
    print("number is amstrong")
else:
    print("not")

enter the number153
number is amstrong

In [18]:
#fibonaaci
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
    print("Please enter a positive integer")
elif nterms == 1:
    print("Fibonacci:")
    print(n1)
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [31]:
n=int(input("enter the number"))
c=2
flag=0
if n ==1:
    print("not a prime")

elif n==0:
    print("not a prime")
else:
    while(c<n):
        if(n%c==0):
            flag=1
        c=c+1
    if(flag==1):
        print("not a prime")
    else:
        
        print("a prime number")

enter the number0
not a prime

In [32]:
n=int(input("enter the number"))
og=n
reverse=0
while(n>0):
    rem=int(n%10)
    reverse=int((reverse*10)+rem)
    n=int(n/10)
if reverse ==og:
    print("number is pallindrome")
else:
    print("not a pallindrome")

enter the number153
not

In [33]:
#sum of digits

#amgstrom
n=int(input("enter the number"))
og=n
sumdig=0
while(n>0):
    rem=int(n%10)
    sumdig=int(sumdig+rem)
    n=int(n/10)
print("sum of digits are {}".format(sumdig))

enter the number153
sum of digits are 9

In [37]:
for i in range(1,101):
    if i%5==0 or i%7==0:
        print(i)

5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100

In [52]:
a=list(input("Enter the string"))
uppercase=[]
for i in range(len(a)):
    converted=ord(a[i])
    converted=converted-32
    uppercase=uppercase+list(chr(converted))
print("".join(uppercase))

Enter the stringabcd
ABCD

In [58]:
for n in range(1,101):
    c=2
    flag=0
    if n ==1:
        continue
    elif n==0:
        continue
    else:
        while(c<n):
            if(n%c==0):
                flag=1
            c=c+1
        if(flag==1):
            continue
        else:
            print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [60]:
table=int(input("enter the number for table"))
for i in range(1,11):
    print("{} * {} = {}".format(table,i,table*i))

enter the number for table5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [78]:
#Find whether a given year is a leap year or not.
def leap_year(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return 1
            else:
                return 0
        else:
            return 1
    else:
        return 0
leap_year(2024)

1

<h3>Practical No 5</h3>
Q1) Write a program to count and display the number of capital letters in a given string.<br>
Q2) Count total number of vowels in a given string.<br>
Q3) Input a sentence and print words in separate lines.<br>
Q4) Program to count number of unique words in a given sentence.<br>
Q5) A program to scan n values and print square of each number.<br>
Q6) Take two sets and apply various set operations on them :<br>
S1 = {Red ,yellow, orange , blue }<br>
S2 = {violet, blue , purple}<br>
  <br>

In [10]:
x="My Name is Adarsh"
count=0
for i in x:
    if(ord(i)>=65 and ord(i)<=90):
        count+=1
count

3

In [15]:
x="My ur a q t A"
count=0
for i in x:
    if(i in ['a','e','i','o','u'] or i in ['A','E','I','O','U']):
        count+=1
count

3

In [18]:
x="My Name is Adarsh"
x=x.split(' ')
for i in x:
    print(i)

My
Name
is
Adarsh

In [61]:
x="My Name is Adarsh My My"
x=x.split(' ')
dic={}
#i
for word in x:
    if word in dic:
        dic[word]+=1
    else:
        dic.update({word: 1})
for x,y in dic.items():
    if y==1:
        print(x)

Name
is
Adarsh

In [74]:
S1 = {"Red" ,"yellow", "orange" , "blue" }
S2 = {"violet", "blue" , "purple"} 

print(S1.union(S2))
print(S1.intersection(S2))
print(S1.issubset(S2))
print(S1.isdisjoint(S2))

{'violet', 'yellow', 'Red', 'blue', 'purple', 'orange'}
{'blue'}
False
False

<h3>Practical No 6</h3>
Q1) Scan n values in range 0-3 and print the number of times each value has occurred.<br>
Q2)  Take 3 numbers as input and store their tables in a list whose elements are table of the number user has entered.<br>
Q3) Store details of movies in a dictionary. Each movie must store details like name,  year, <br>director name, production cost, collection made (earning) & perform the following :-<br>
A) print all movie details<br>
B) Display name of movies released before 2015<br>
C) print movies that made a profit.<br>
D) print movies that made a loss.<br>
E) print movies directed by a particular director.<br>
Q4) Take a paragraph as input from user and randomly jumble all the letters in each word except <br>for first and last letter. Keep the special symbols at its actual position.<br>

In [1]:
#Take a paragraph as input from user and randomly jumble all the letters in each word except for first and last letter. Keep the special symbols at its actual position.
import random 
def jumbledwords(test_list):
    for i in range(len(test_list)-1, 0, -1): 
        j = random.randint(0, i)  
        test_list[i], test_list[j] = test_list[j], test_list[i] 
    return(test_list)


import random
def jumble(words):


    if(len(words)>3):
        word = list(words[1:-1])
        finalword=jumbledwords(word)
        finalword=words[0] + "".join(finalword) + words[len(words)-1]
    else:
        finalword="".join(words)
        
    return finalword


if __name__ == '__main__':
    output=[]
    x="what is the problem with you kid and what do expect from me"
    x=x.split(' ')
    for i in x:
        jumbled=jumble(list(i))
        output.append(jumbled)
    print(" ".join(output))

waht is the porelbm with you kid and waht do expect form me

In [29]:
#question3

class player:
    
    def __init__(self,playername,runs,match,wickets):
        self.playername=playername
        self.runs=runs
        self.wickets=wickets
        self.match=match
    def display_details(self):
            print("player name : {} \n Player run : {} \n player match : {} \n player wicket : {}".format(self.playername,self.runs,self.match,self.wickets))

In [30]:
playerobj=[]

for i in range(2):
    x=input("enter the player name")
    y=int(input("enter the runs"))
    z=int(input("enter the number of matches"))
    l=int(input("enter the number of wickets"))
    playerobj.append(player(x,y,z,l))

enter the player nameadarsh
enter the runs2000
enter the number of matches201
enter the number of wickets102
enter the player nameritesh
enter the runs2980
enter the number of matches198
enter the number of wickets87

In [31]:
for obj in playerobj:
    obj.display_details()

player name : adarsh
 Player run : 2000
 player match : 201
 player wicket : 102
player name : ritesh
 Player run : 2980
 player match : 198
 player wicket : 87

In [32]:
count=0
for obj in playerobj:
    if obj.match>200:
        count+=1
    if obj.wickets>100:
        obj.display_details()
    print("average of player {} is {}".format(obj.playername,obj.runs/obj.match))
print("the count of player having more than 200 matches".format(count))

player name : adarsh
 Player run : 2000
 player match : 201
 player wicket : 102
average of player adarsh is 9.950248756218905
average of player ritesh is 15.05050505050505

In [19]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __init__(self,name):
        self.name=name

In [2]:
#question3
playerobj=[]
class player:
    
    def __init__(self,playername,runs,match,wickets):
        self.playername=playername
        self.runs=runs
        self.wickets=wickets
        self.match=match
    def display_details(self):
            print("player name : {} \n Player run : {} \n player match : {} \n player wicket : {}".format(self.playername,self.runs,self.match,self.wickets))
        


for i in range(2):
    x=input("enter the player name")
    y=int(input("enter the runs"))
    z=int(input("enter the number of matches"))
    l=int(input("enter the number of wickets"))
    playerobj.append(player(x,y,z,l))
    
count=0
for obj in playerobj:
    if obj.match>200:
        count+=1
    if obj.wickets>100:
        obj.display_details()
    print("average of player {} is {}".format(obj.playername,obj.runs/obj.match))
print("the count of player having more than 200 matches".format(count))

enter the player nameadarsh
enter the runs14
enter the number of matches1023
enter the number of wickets50
enter the player nameamrit
enter the runs15
enter the number of matches1032
enter the number of wickets4
average of player adarsh is 0.013685239491691105
average of player amrit is 0.014534883720930232
the count of player having more than 200 matches

In [21]:
#ques 1 and 2:-
students=[]
class student:
    def __init__(self,name,age,roll,per):
        self.name=name
        self.age=age
        self.roll=roll
        self.per=per
        
    def showdetail(self):
        print(self.name,self.age,self.roll,self.phone)
    def update_marks(self,marks):
        self.marks=marks
    def update_per(self,per):
        self.per=per
    def add_student(self):
            x=input("enter the student name")
            y=int(input("enter the age"))
            z=int(input("enter the number of roll"))
            l=int(input("enter the number of per"))
            students.append(player(x,y,z,l))
    def del_student(self):
        delroll=int(input("enter the roll of student to be deleted"))
        for i in range(len(students)):
            if (obj.roll == delroll):
                students.pop(i)

In [14]:
for i in range(1):
    x=input("enter the student name")
    y=int(input("enter the age"))
    z=int(input("enter the number of roll"))
    l=int(input("enter the number of per"))
    students.append(player(x,y,z,l))

enter the student nameabc
enter the age10
enter the number of roll12
enter the number of per40

In [18]:
student.add_student = classmethod(student.add_student)

In [19]:
student.add_student()

enter the student nameabc
enter the age18
enter the number of roll14
enter the number of per14

In [22]:
student.del_student = classmethod(student.del_student)

In [23]:
student.del_student()

enter the roll of student to be deleted12

In [24]:
a="abcd"

In [41]:
s1="123456789"

s1[::-1]

'987654321'

In [56]:
s1[-4:-1]

'678'